mixin arrow(url,title,txt,link)
    if link
        a.arrow(href="#{resource}pages/#{link}")
            if url
                img.left(src="#{resource}#{url}")
                span.title #{title}
                if block
                    block
                else
                    span.content #{txt}
                    img.right(src="#{resource}/img/arrow-right.png")
            else
                span.title #{title}
                if block
                    block
                else
                    span.content #{txt}
                    img.right(src="#{resource}/img/arrow-right.png")
    else
        a.arrow
            if url
                img.left(src="#{resource}#{url}")
                span.title #{title}
                if block
                    block
                else
                    span.content #{txt}
                    img.right(src="#{resource}/img/arrow-right.png")
            else
                span.title #{title}
                if block
                    block
                else
                    span.content #{txt}
                    img.right(src="#{resource}/img/arrow-right.png")

